body{
    font-family: cursive;
    background-color: #fffacd;
    /* background-color: black; */ /* 確認用 */
    width: 860px;
    margin: auto;
}

/* 余白 */

.wrap {
    position: static;
    margin: 0 auto;
    width: 800px;
}


/* header */

header{
    background-color: #fff;
    border-top: 5px solid #8b4513;
    border-bottom: 25px solid #8b4513;
}


header img {
    width: 120px;
    height:120px;
    padding-left: 39px;

}

header h2 {
    float: right;
    font-family: serif;
    text-align: center;
    color: #202020;
}

.selected {
    background-color: #663300;
}

.clearfix {
    float: clearfix;
}

header ul {
    width: 800px;
    text-align: center;
    background-color: #fff;
}

header ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    border-right: 2px solid #fff;
    background-color: #8b4513;
    width: 110px;
}

header ul li :active,
header ul li :hover {
    background-color: #663300;
}

header ul li a{
    color: #f0f8ff;
    display: block;
    text-decoration: none;
}



.first {
    border-left: 2px solid #fff;
}

h3 {
    background-color: #eaf3ff;
    padding-left: 0.5em;
    border-left: 5px solid #7db4e6;
    width: 600px;

}

h4 {
    padding-left: 10px;
}


/* main */
main {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 5px solid #8b4513;
    border-top: 5px solid #8b4513;
    background-color: #fff;
    color: #202020;
    display: inline-block;
    width: 100%;
}


.impull {
  width: 100px;
  height: 30px;
  text-align: center;
}

#serchbar {
  border: 2px solid #e0e0e0;
  margin : 10px 50px;
}

#serchbar td {
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 18px;
  border: 1px solid #e0e0e0;
}

.serchbtn {
  margin-left: 50%;
}

.topbar {
  background-color: #f5deb3;
  color: #202020;
  text-align: center;
  width: 100%;
}

#imtable {
  width: 100%;
}

#imtable td {
  border: 1px solid #8b4513;
  margin: 0;
  padding: 0;
}


.oprity {
    font-size: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    margin: 0;
    text-decoration: none;
    color: #8b4513;
}

.oprity :hover,
.oprity :active {
    color: #663300;
}

/* footer */
footer{
    color: #f0f8ff;
    background-color: #8b4513;
    text-align: center;
}

footer ul {
    margin-right: 50px;
}

footer ul li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #f0f8ff;
}

footer ul li :hover,
footer ul li :active {
    color: #333;
}
